body {
    background: #212121;
}

.thumbnail {
    width: 100%;
    height: 80%;
    padding: 0;
    border: none;
    overflow: hidden;
    background-color: #000;
    position: relative;
}

.thumbnail img {
    width: 100%;
    opacity: 1;
    transform: scale(1.0);
    transition: all 0.5s;
}

.thumbnail img:hover {
    opacity: 0.5;
    transform: scale(1.2);
    transition: all 0.5s;
}

.main-title {
    color: #FFF;
}

.jumbotron {
    background-image: url("../img/city.png");
    background-size: auto 300px;
    background-position: top left;
    height: 250px;
}

.comment {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    position: absolute;
    bottom: -50px;
    display: block;
    width: 100%;
    padding: 10px;
    transition: all 0.5s;
}

.thumbnail:hover .comment {
    bottom: 0;
    transition: all 0.5s;
}
