.video .videocard {
    width: 30%;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0.833333% 1.66666%;
    transition: transform 0.3s ease;
}

.video .thumbnail {
    overflow: hidden;
    position: relative;
}

.video .thumbnail img {
    width: 100%;
    opacity: 1;
}

.video .videocard:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}