@media screen {
    #container {
        margin: 0 auto;
        width: 600px;
        height: 750px;
        cursor: move;
    }
}

@media screen and (max-device-width: 480px) {
    #container {
        width: auto;
        max-height: 500px;
        cursor: move;
    }
}
