* {
    margin: 0 auto;
}

body {
    background-color: #F3F3F3
}

header {
    background-color: #ECECEC;
    margin-bottom: 30px;
}

header h1 {
    display: block;
    padding: 20px;
}

#main {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-perspective: 4000;
}

section {
    display: inline-block;
    background-color: #FFFFFF;
    width: 300px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    vertical-align: top;
    box-shadow: 0 25px 40px -20px #CCC;
    transition: 0.3s;
}

section:hover {
    transform: translateZ(10px);
    transform-origin: 50%;
    box-shadow: 0 35px 55px -10px #CCC;
    transition: 0.5s;
}

.cover_img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 10px 0;
}

.cover_img img {
    width: 300px;
    transition: 0.5s;
}

.cover_img img:hover {
    transform: scale(1.2);
    opacity: 0.75;
    transition: 0.5s;
}

.table {
    border: 1px solid #CCC;
    width: 300px;
    border-collapse: collapse;
    background: #FFFFFF;
    margin-top: 18px;
}

.table th {
    background: #EDEDED;
}

.table td,
.table th {
    border: 1px solid #CCC;
    padding: 6px 10px;
    font-size: 10pt;
}

.table tr td:first-child {
    text-align: center;
}
